<ion-header>
  <ion-toolbar><ion-title>Add new channel</ion-title></ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [form]="form" [fields]="fields">
      <div float-right>
        <ion-button type="button" size="6" color="danger" (click)="reset()" fill="outline">Cancel</ion-button>
        <ion-button type="submit" size="6" color="primary" [disabled]="form.invalid" fill="outline">Submit</ion-button>
      </div>
    </formly-form>
  </form>


</ion-content>
