<ion-header>
  <ion-toolbar><ion-title>Channels</ion-title></ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar #search></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let channel of (channels$ | async | search: search.value)">
      <ion-label (click)="stream()">
        <h2>{{ channel.name }}</h2>
        <p>{{ channel.description }}</p>
      </ion-label>
      <ion-button type="button" color="danger" fill="clear" class="hide-xs-up show-md-up" (click)="delete(channel)">
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab class="hide-xs-up show-md-up" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="addChannel()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
