<ion-header>
  <ion-toolbar><ion-title>Languages</ion-title></ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://placehold.it/300"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <ion-button color="danger" fill="clear">
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="addChannel()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
